.fusion-tabs {
  .nav-tabs {
    li a {
      text-transform: uppercase;
      font-size: 1.25rem !important;
      font-weight: bold;
      line-height: 1.5rem !important;
    }
  }
}

#ws-plugin--s2member-profile, 
.s2member-pro-paypal-form, 
.ws-plugin--s2member-pro-login-widget-form, 
.s2member-pro-paypal-checkout-form-section {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  
  label {
    strong {
      font-family: 'Montserrat';
      text-transform: uppercase;
    }
  }

  input[type="text"], 
  input[type="email"], 
  input[type="password"], 
  input[type="submit"],
  .s2member-pro-paypal-checkout-first-name {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1rem;
    padding: 8px 15px !important;
  }

  input[type="submit"] {
    text-transform: uppercase;
    font-family: 'Montserrat';
    color: #ffffff;
    border: none;
    background-color: $wodstar-blue;
    line-height: 3rem;
  }
}

.s2member-pro-paypal-checkout-form-first-name-label,
.s2member-pro-paypal-checkout-form-last-name-label,
.s2member-pro-paypal-checkout-form-email-label,
.s2member-pro-paypal-checkout-form-username-label {
  span {
    font-family: 'Montserrat' !important;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.s2member-pro-paypal-form-description-div, 
.s2member-pro-paypal-update-form-submit-div, 
.s2member-pro-paypal-update-form-billing-method-section-title, 
.s2member-pro-paypal-update-form-submission-section-title,
.s2member-pro-paypal-form-registration-section-title,
.s2member-pro-paypal-form-section-title {
  font-family: 'Montserrat' !important;
  text-transform: uppercase;
  font-weight: bold;
  background-image: none !important;
  border-bottom: none !important;
}

.s2member-pro-paypal-update-form-billing-method-section-title, .s2member-pro-paypal-update-form-submission-section-title {
  font-size: 14px !important;
}

.s2member-pro-paypal-form-div, .s2member-pro-paypal-update-form-submit-div {
  width: 100%;
  float: none;

  .s2member-pro-paypal-submit:not(input[type="image"]), .s2member-pro-paypal-registration-submit {
    font-family: 'Montserrat' !important;
    text-transform: uppercase;
    font-size: 16px !important;
    line-height: 48px;
    padding: 0px;
    width: 100%;
    border: none;
    background-color: $wodstar-blue;
    color: #FFFFFF;
  }  
}

#s2member-pro-paypal-form-response {
  margin: 0px;
  border-radius: 0px;
  border: 0px;
}
