.fusion-blog-shortcode-1 .grid-layout .post:nth-child(-n+3), .category-movements:nth-child(-n+3), .category-wods:nth-child(-n+3), .category-articles:nth-child(-n+3) {
  padding-top: 0px !important;
}

.fusion-blog-grid .post .post-content-container, .fusion-blog-timeline .post .post-content-container {
  padding: 30px 25px 5px !important;
}

.image .image-extras .image-extras-content h3 a {
  font-size: 150% !important;
  text-transform: uppercase;
  line-height: 1.2rem;
}

.grid-layout .post-content-container.no-padding {
  padding: 0px;
}

.image.simple {
  max-height: 250px;

  .image-extras.simple {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.2) 25%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%);


    .image-extras-content {
      h3 {
        a {
          color: #ffffff;
          font-size: 2rem !important;
          line-height: 2.15rem;
        }
      }
    }

  }
}

#wrapper .post-content h2, #wrapper .fusion-title h2, #wrapper #main .post-content .fusion-title h2, #wrapper .title h2, #wrapper #main .post-content .title h2, #wrapper #main .post h2, #wrapper .woocommerce .checkout h3, .cart-empty {
  line-height: 20px !important;
}

.grid-layout .post {
  .post-wrapper.movement, .post-wrapper.wod {
    border: none;
    border-color: transparent;

    .flexslider {
      border: none;
    }
  }
}