.ws-blog-grid {
  padding-top: 0px;

  .eg-search-wrapper {
    float: right;

    input.eg-search-input[type="text"], .eg-search-input {
      display: inline-block;
      // This is a fix for the ess_grid search box.
      width: auto !important;
      margin-right: 1rem;
    }
  }
}