.post.type-post.grid-post, .post.type-post.blog-grid {
  .post-wrapper {
    .post-slideshow {
      .slides {
        li div.image {
          max-height: 235px;
        }
      }
    }
  }

  &.category-wods, &.category-movements {
    font-size: 150% !important;
    text-transform: uppercase;
    line-height: 1.2rem;

    .post-wrapper {
      border: none;

      .post-slideshow {
        border: none;
      }

      .post-content-container {
        display: none;
      }
    }

    .image-extras {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      background-image: radial-gradient(ellipse at center, rgba(0,0,0,0.2) 25%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%);

      .image-extras-content {
        h3 {
          a {
            color: #ffffff;
            font-size: 2rem !important;
            line-height: 2.15rem;
          }
        }
        h4 {
          display: none;
        }
      }
    }
  }

  &.category-articles {
    .image .image-extras {
      background-image: radial-gradient(ellipse at center, rgba(0,0,0,0.2) 25%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%);

      .image-extras-content h3 a{
        color: #FFFFFF;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
        font-size: 1.5rem;
        line-height: 1.5rem;
      }
    }

    .post-content-container {
      padding-top: 20px;

      .entry-title a{
        font-size: 1.5rem !important;
        line-height: 1.5rem !important;
      }
      .content-sep {
        border-top: 1px solid transparent;
      }
    }
  }
}