div.s2member-pro-paypal-registration-form-registration-section-title,
div.s2member-pro-paypal-registration-form-submission-section-title,
div.s2member-pro-paypal-form-captcha-section-title {
  font-family: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif !important;
  text-transform: uppercase;
  font-size: 1rem;
  background-image: none !important;
  border: none !important;
}

.s2member-pro-paypal-registration-form-submit-div {
  float: none !important;
  text-align: center !important;
}