$mobile-device: "only screen and (min-device-width: 320px) and (max-device-width: 640px)";

$wodstar-color-section-1: #69D2E7;
$wodstar-color-section-2: #A7DBD8;
$wodstar-color-section-3: #E0E4CC;
$wodstar-color-section-4: #F38630;
$wodstar-color-section-5: #FA6900;

$wodstar-blue-dark:       #223140;
$wodstar-blue:            #2E4359;
$wodstar-silver:          #ECECEE;
$wodstar-red:             #B5191D;
$wodstar-red-dark:        #820805;